<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar professores</title>
    <link rel="stylesheet" href="/estilos.css" />
</head>
<body>

<h1>Professores</h1>

<p><a href="/">Inicial</a></p>

<table border="1">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
    </thead>
    <tbody>
     <tr th:each="professor : ${professores}">
         <td th:text="${professor.id}"></td>
         <td th:text="${professor.nome}"></td>
         <td><a th:href="@{/professor/editar/{id}(id=${professor.id})}">Editar</a></td>
         <td><a th:href="@{/professor/excluir/{id}(id=${professor.id})}">Excluir</a></td>
     </tr>
    </tbody>
</table>

<p><a href="/professor/novo">Novo professor</a></p>

</body>
</html>