<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Categorias de Despesa</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">
    <h1>Listagem de Categorias de Despesa</h1>

    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterar sobre a lista de categorias de despesa e exibir cada uma -->
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${category.description}"></td>
            <td>
                <a th:href="@{/templates/expense-categories/editar/{id}(id=${category.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{/templates/expense-categories/excluir/{id}(id=${category.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/expenseCategories/novo" class="btn btn-success">Nova Categoria</a>
    <a href="/" class="btn btn-success">Tela inicial</a>
</div>

<!-- Bootstrap JS (opcional, se necessário) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Emm2gISB1dNH3pi+0kp0sibJGPNlg2xIlQ" crossorigin="anonymous"></script>
</body>
</html>
